{% extends 'app1/base.html' %}

{% block content %}
{% load static %}
  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h2 class="display-4" style="margin-top:50px">Amazon rainforest Wildfire Prediction System</h2>
      <p class="lead">This system deploys three machine learning algorithms that seek to
        predict the burnt area of amazon wildfires based on metereological data and available
        fire indices. Data for these models was gathered between <b>January 2017</b> and <b>November 2019</b>.</p>
      <a href="https://www.temblores.org/sistema-callejero" class="btn btn-outline-secondary">See publication</a>
    </header>

    <!-- Page Features -->
    <div class="row text-center" style="margin-top:50px; margin-bottom:100px justify-content:center">

      <div class="col" style="justify-content:center; margin-bottom:100px">
        <a href="{% url 'app1:vis1' %}">
          <img style="width: 250px; height: 350px" src="{% static 'app1/img/historical.png' %}" alt="">
        </a>
      </div>

      <div class="col" style="justify-content:center; margin-bottom:100px">
        <a href="{% url 'app1:vis2' %}">
          <img style="width: 250px; height: 350px" src="{% static 'app1/img/run_models.png' %}" alt="">
        </a>
      </div>

    </div>

  </div>
  <!-- /.container -->
{% endblock %}
